
<div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="downloads"><a href="{{site.baseurl}}/contact">Contacts</a></li>
        <li class="downloads"><a href="{{site.baseurl}}/about">About</a></li>
        <li class="downloads"><a href="{{site.baseurl}}/blog">Blogs</a></li>
        <li class="downloads"><a href="{{site.baseurl}}/mlps-resources">MLOps Resources</a></li>
        <li class="downloads"><a href="{{site.baseurl}}/personal-growth">Personal Growth</a></li>
          
      </ul>
    </nav>
  </div><!-- end header -->
